* {
  box-sizing: border-box;
}

html, body { 
  height: 100%;
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  height: 100%;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}